main{
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.all-pokemon{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width:450px){
    .all-pokemon{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:900px){
    .all-pokemon{
        grid-template-columns: repeat(3, 1fr);
    }
}

.card{
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.pokemon-id-back{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    color: rgba(238, 238, 238, 0.733);
}

.pokemon-image{
    display: flex;
    justify-content: center;
}

.pokemon-image img{
    width: 100%;
    max-width: 6rem;
}

.pokemon-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
}

.name-container{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id{
    background-color: #EEEEEE;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    font-size: 0.75rem;
}

.pokemon-name{
    font-size: 1.4rem;
}

.pokemon-types{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.75rem;
}

.type{
    padding: .35rem;
    border-radius: 1rem;
    font-weight: 500;
}

.pokemon-stats{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    font-size: .85rem;
    justify-content: center;
}

.stat{
    background-color: #EEEEEE;
    padding: .25rem .5rem;
    border-radius: 100vmax;
}